@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-custom {
  font-family: 'Space Mono', monospace;
}

.cover {
  background-color: #000000;
}

.cover--home {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 1)
  ), url('../src/images/stars-background.webp');
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  animation: zoom 22s ease-out infinite;
}

@keyframes zoom {
  0% {
    background-position: center;
  }
  50% {
    background-position: bottom;
  }
  100% {    
    background-position: center;
  }
}

input[name="search"] {
  padding: 1.5rem;
  border-radius: 5rem;
}

button[type="submit"] {
  padding: 0.5rem 2rem;
  border-radius: 5rem;
}

@media (max-width: 425px) {  
  input[name="search"] {
    width: 100% !important;
  }
  .spacex-X {
    width: 200px !important;
  }
  .spacex-title {
    font-size: 3rem !important;
  }
  .homepage__buttons {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .homepage__button {
    margin: 0 !important;
  }
}


.capsule-card {
  width: 320px;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.capsule-card:hover {
  transform: scale(1.1);
}

.capsule-card__item {
  background: transparent !important;
}
