@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black !important;
}

.footer {
  position: fixed;
  color: black;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  padding: 15px 30px;
  border-radius: 50px;
  background-color: white;
}

.footer-text {
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-custom {
  font-family: 'Space Mono', monospace;
}

.cover {
  background-color: #000000;
}

.cover--home {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 1)
    ),
    url('https://i.imgur.com/W4xrRfR.jpg');
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  animation: spaceTransition 24s ease-out infinite;
}

@keyframes spaceTransition {
  0%,
  80% {
    background-position: top;
  }
  40% {
    background-position: center center;
  }
}

input[name='search'] {
  padding: 1.5rem;
  border-radius: 5rem;
}

button[type='submit'] {
  padding: 0.5rem 2rem;
  border-radius: 5rem;
}

@media (max-width: 425px) {
  .cover--home {
    animation: none !important;
  }
  input[name='search'] {
    width: 100% !important;
  }
  .spacex-X {
    width: 200px !important;
  }
  .spacex-title {
    font-size: 3rem !important;
  }
  .homepage__buttons {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .homepage__button {
    margin: 0 !important;
  }
}

.capsule-card {
  width: 320px;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.capsule-card:hover {
  transform: scale(1.1);
}

.capsule-card__item {
  background: transparent !important;
}
