@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-custom {
  font-family: 'Space Mono', monospace;
}

.cover {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 1)
  ), url('../src/images/spacex-background.jpg');
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
}

.cover--home {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 1)
  ), url('../src/images/stars-background.jpg');
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
}

input[name="search"] {
  padding: 1.5rem;
  border-radius: 5rem;
}

button[type="submit"] {
  padding: 0.5rem 2rem;
  border-radius: 5rem;
}

@media (max-width: 425px) {  
  input[name="search"] {
    width: 100% !important;
  }
}
